body
{
    background-color: bisque;
    color: black;
}
p
{
    font-size:10%;
    text-align: center;
}
ul {
    list-style-type: none; 
    margin: 0; 
    padding: 0;
    overflow: hidden;
    background-color: white;
    width: 22%;
}
li{
    float:left;
}
li a {
    display: block;
    color: black;
    text-align: center;
    padding: 10px;
    text-decoration: none;
}
li a:hover {
    background-color: blanchedalmond;
}
