p{
    background-color: #6cf436;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
div{
    background-color: #f44336;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
img {
 background-color: #f2b35b;
 padding: 20px;
 
  }
  
